html, body {
  -webkit-font-smoothing: antialiased;
}
body {
  background: #ffc796;
  font:helvetica, verdana, arial, sans-serif;
  font-size: calc(2.625rem + ((1vw - 8.5px) * -0.7059));
  color: #303030;
  margin: 0px;
  overflow-y: scroll;
  line-height:1;
}
img {
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-weight:bold;
  line-height: 1.1;
  margin-top: 0;
}
 .flex-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
 .details {
      width: 67%;
      font-size: 30px;
      font-weight:bolder;
      color: #77080c;
      margin-left: 1.5em;
      padding-top: 0.5em;
}
header .name {
  text-shadow: 2px 2px #ff0000;
  text-decoration: underline;
}
 .logo {
      height: 100px;
      font-size: 80px;
      text-shadow: 1.5px 1.5px;
}
header .line {
  border-bottom: solid 4px #000;
  width:100%;
}

/*header styling finished*/

 .portfolio {
  text-transform: uppercase;
  font-size: 36px;
}
.container {
      width:90%;
      padding-top: 10px;
      margin-left:auto;
      margin-right:auto;
}
#sections {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#sections .portfolio-item {
  width:41%;
  display: flex;
  flex-wrap: wrap;
  margin-left:auto;
  margin-right:auto;
}
 #section .portfolio-item img {
  border-image: 15px 15px 0 0 #000;
}

#sections .portfolio-item h3 {
  font-size: 36px;
  font-weight: bolder;
}
.projects a {
  color: #77080c;
  text-decoration: none;
}

/*main part style ended*/
footer {
  width:100%;
  font-size:20px;
  }

  /*Media Query*/

@media screen and (max-width: 500px)  {
  .details {
      font-size: 16px;
    }
    .logo {
      font-size: 40px;
    }
  .portfolio {
    font-size: 22px;
  }
 #sections .portfolio-item {
  width:100%;
  text-align: center;
  }
 div .image {
    width:55%;
    margin-right:10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div .projects {
   width: 40%;
   }
   #sections .portfolio-item h3 {
     font-weight: bolder;
     font-size: calc(1.0rem + ((1vw - 1.8px) * 5));
   }
   p {
     font-size: calc(1.0rem + ((1vw - 1.8px) * 5));
   }
  }

  @media screen and (min-width: 501px) and (max-width: 850px)  {

    .flex-container {
        width:100%;
      }
      .details {
        font-size: 22px;
      }
      .logo {
        font-size: 40px;
      }
    .portfolio {
       font-size:26px;
    }
    #sections .portfolio-item {
     width:90%;
     margin-left:10%!important;
     margin-bottom:5px;
    }
    #sections .portfolio-item h3 {
      font-weight: bolder;
      font-size: calc(1.8rem + ((1vw - 5.01px) * 1.7192));;
    }
    p {
     font-size: calc(1.625rem + ((1vw - 5.01px) * 1.7192));
   }
}
